@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 18px;
    margin: 0px;
    padding: 15px 0px 15px 10px
}

#container {
    background-color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    padding: 15px;
    font-size: 16px;
    margin: 0;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    color: #196c6e;
}

.subtitle {
    font-size: 26px;
}

#info-section {
    justify-content: center;
    text-align: center;
}

#hero-image {
    width: 100%;
}

#discover-btn {
    width: 95%;
    height: 50px;
    font-weight: bold;
    color: white;
    background-color: #af143e;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#discover-btn:hover {
    background-color: #8c0f32;
    transform: scale(1.05);
}

#recommended_products {
    display: flex;
    flex-direction: column;
}

.product-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.product_name {
    margin: 0px;
    margin-bottom: 4px;
    padding: 0px;
    max-height: 35px;
    max-width: 200px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rating {
    font-size: 18px;
    color: #FFD700;
    display: inline;
    padding-right: 15px;
}

.star-full::before {
    content: "\2605";
    position: relative;
    margin-right: 0;
    margin-left: 0;
}
/* check it */
.star-three-quarters::before {
    content: "\2605";
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 9.95px;
    margin: 0;
}

.star-half::before {
    content: "\2605";
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 7.3px;
    margin: 0;
}

.star-quarter::before {
    content: "\2605";
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 6.75px;
    margin: 0;
}

.product_review_count {
    font-size: 12px;
    color: #b6274e;
}

.detail-btn {
    color: #af153f;
    background-color: white;
    border: 1.5px solid #af153f;
    height: 50px;
    width: 200px;
    margin-top: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.detail-btn:hover {
    background-color: #af153f;
    color: white;
}

.product-image{
    width: 220px;
}